@import "./mixin.scss";
*{
    padding: 0;
    margin: 0;
}
header{
    @include f-j-center-a-center;
    width:100%;
    height: 50px;
}
main{
    background: url(../Assets/background-home.jpg);
    width:100%;
    height: 500px;
}

